.conteiner{
    margin:0 100px;
}
.rigtBlock{
    position:absolute;
    left:760px;
}
.menu{
    margin-right: 20px;
}
.prezentplLogo{
    position:absolute;
    left:940px;
}
.Collage{
    position: absolute;
    left: calc(100% - 1100px);
}
.blocImgPart{
    position:absolute;
    left:0px;

}
.promo{
    margin-top: 430px;
    margin-left: 30px;
}
